::-webkit-scrollbar {
    width: 5px;
    background-color: hsl(0, 0%, 0%);
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: hsl(0, 0%, 40%);
}

body{
	margin: 0;
	color: hsl(0, 0%, 100%);

}

#canvas{
	background-color: hsl(0, 0%, 0%);
	padding: 0 50px;
}

div.img{
	text-align: center;
}

div.subGroup{
	margin: 0 30px;
}

#wrapper{
	background-color: hsl(0, 0%, 15%);
	margin: 0 30px;
	padding: 30px 20px;
	box-shadow: 0 0 10px 10px hsl(0, 0%, 15%);
}

#content{
	margin-top: 230px;
}

#header{
	position: absolute;
	background-color: hsl(0, 0%, 30%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-left: 90px;
}

div{
	font-family: Helvetica, sans-serif;
}

figure{
	display: inline-block;
}

p{
	font-size: 20px;
	margin-left: 30px;
}

div.caption{
	margin: 0;
	color: hsl(0, 0%, 70%);
}

h3{
	margin-top: 60px;
	font-family: Arial, sans-serif;
	text-shadow: 1.5px 1.5px hsl(0, 0%, 0%);
}
h2{
	font-family: Arial, sans-serif;
	text-shadow: 2px 2px hsl(0, 0%, 0%);

}
h1{
	font-family: Arial, sans-serif;
	text-shadow: 2px 2px hsl(0, 0%, 0%);

}



table{
	width: 100%;
	font-size: 15px;
	margin-left: 20px;
}

img{
	margin-left: auto;
	margin-right: auto;
}